astor==0.7.1
audioread==2.1.6
bleach==1.5.0
certifi==2019.3.9
cffi==1.10.0
chardet==3.0.4
cycler==0.10.0
Cython==0.25.2
decorator==4.3.0
docopt==0.6.2
e==1.4.5
entrypoints==0.2.2
essentia==2.1b5.dev416
future==0.16.0
gast==0.2.0
grpcio==1.17.0
h5py==2.7.0
html5lib==0.9999999
idna==2.8
ipykernel==4.6.1
ipython==6.0.0
ipython-genutils==0.2.0
jedi==0.10.2
Jinja2==2.9.6
joblib==0.13.0
jsonschema==2.6.0
jupyter-client==5.0.1
jupyter-core==4.3.0
Keras==2.0.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
Lasagne==0.1
librosa==0.6.2
llvmlite==0.25.0
lxml==3.8.0
Mako==1.0.6
Markdown==2.6.11
MarkupSafe==0.23
matplotlib==2.0.2
mir-eval==0.4
mistune==0.7.4
musdb==0.2.3
nbconvert==5.1.1
nbformat==4.3.0

nose==1.3.7
notebook==5.0.0
numba==0.40.1
numexpr==2.6.2
numpy==1.15.4
pandas==0.20.3
pandocfilters==1.4.1
pexpect==4.2.1
pickleshare==0.7.4
pipreqs==0.4.9
prompt-toolkit==1.0.14
protobuf==3.6.1
ptyprocess==0.5.1
pyaml==17.12.1
pycparser==2.17
Pygments==2.2.0
pygpu==0.6.4
pyparsing==2.1.4
PySoundFile==0.9.0.post1
pysptk==0.1.7.dev0
python-dateutil==2.6.0
pytz==2017.2
-e git+https://github.com/JeremyCCHsu/Python-Wrapper-for-World-Vocoder.git@a34a99980fc82825c0f2b616ea85069a4411cc94#egg=pyworld
PyYAML==3.12
pyzmq==16.0.2
requests==2.22.0
resampy==0.2.1
scikit-learn==0.20.0
scipy==1.1.0
simplegeneric==0.8.1
six==1.11.0
SoundFile==0.10.1

stempeg==0.1.3
tensorboard==1.12.0
tensorflow==1.12.0
tensorflow-gpu==1.12.0
tensorflow-tensorboard==1.5.1
termcolor==1.1.0
terminado==0.6
testpath==0.3
Theano==0.9.0
tornado==4.5.1
tqdm==4.14.0
traitlets==4.3.2
urllib3==1.25.3
utf8-interpy==1.0
vamp==1.1.0

wcwidth==0.1.7
Werkzeug==0.14.1
wrapt==1.10.10
yarg==0.1.9