
h5py==2.7.0

librosa==0.6.2

mir-eval==0.4

numpy==1.15.4
pandas==0.20.3

-e git+https://github.com/JeremyCCHsu/Python-Wrapper-for-World-Vocoder.git@a34a99980fc82825c0f2b616ea85069a4411cc94#egg=pyworld

scipy==1.1.0

SoundFile==0.10.1

tensorflow-tensorboard==1.5.1
tensorboard==1.15.0
tensorflow==1.15.2
tensorflow-gpu==1.15

